@import "normalize.css";
@import "base/_mixins";
@import "base/_variables";
@import "base/_global";
@import "modules/_large_hero";
@import "modules/_btn";
@import "modules/_wrapper";
@import "modules/_page-section";
@import "modules/_headline";
@import "modules/_row";
@import "modules/_section-title";
@import "modules/_generic-typography";
@import "modules/_feature-item";
@import "modules/_testimonial";
@import "modules/_sprite";
@import "modules/_footer";
@import "modules/_header";
@import "modules/_primary-nav";
@import "modules/_reveal-item";
@import "modules/_modal";
@import "modules/_social-icons";

/*
$main-color:#fff;
body{
    margin: 0;
    padding: 0;
}

::placeholder{
    color: $main-color;
}

@keyframes sizing{
    from{
        opacity: 1;
        columns: 100px 2;
    }to{
        opacity: 0.1;
        columns: 50px 3;
    }
}

.box{
    .box-item{
        color: $main-color;
    }
}*/
