.page-section {
    padding: 1.5rem 0;

    @mixin atSmall {
        padding: 4.5rem 0;
    }

    &__blue {
        background-color: $mainBlue;
        color: #fff;
    }

    &__testimonials {
        background: #e0e6f1;

        @mixin atLarge {
            &.lazyloaded {
                background: url("../../assets/images/testimonials-bg.jpg") top center no-repeat;
                background-size: cover;
            }
        }
    }

    &__no_padding-until-large {
        padding: 0;

        @mixin atLarge {
            padding: 0.25rem 0;
        }
    }
}
